# Preliminary: Install and Important Packages

In [ ]:
! pip install kaleido

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     |████████████████████████████████| 79.9 MB 1.4 MB/s
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import decimal
from datetime import datetime, date, timedelta, timezone
from dateutil.relativedelta import relativedelta
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
import statsmodels.api as sm
import plotly.colors as pc
import ipywidgets as ipw

In [ ]:
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2022-11-16 23:22:40--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221116T232240Z&X-Amz-Expires=300&X-Amz-Signature=4d87141f1b7861d39c87f92a61e3ea4c69e8e92a2cfe8c00887e948364ad3bd3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2022-11-16 23:22:40--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221116T232240Z&X-Amz-Expires=300&X-Amz-Signature=4d87141f1b7861d39c87f92a61e3ea4c69e8e92a2cfe8c00887e948364ad3bd3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  11.6MB/s    in 4.2s

2022-11-16 23:22:45 (11.6 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
  libgail-common libgail18 libgtk2.0-bin libgtk2.0-common
Suggested packages:
  gvfs
The following NEW packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
  libgail-common libgail18 libgconf-2-4 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common xvfb
0 upgraded, 11 newly installed, 0 to remove and 5 not upgraded.
Need to get 3,716 kB of archives.
After this operation, 17.2 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libdbus-glib-1-2 amd64 0.110-2 [58.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf2-common all 3.2.6-4ubuntu1 [700 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libgconf-2-4 amd64 3.2.6-4ubuntu1 [84.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf-service-backend amd64 3.2.6-4ubuntu1 [58.1 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf-service amd64 3.2.6-4ubuntu1 [2,036 B]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-common all 2.24.32-1ubuntu1 [125 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-0 amd64 2.24.32-1ubuntu1 [1,769 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail18 amd64 2.24.32-1ubuntu1 [14.2 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail-common amd64 2.24.32-1ubuntu1 [112 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-bin amd64 2.24.32-1ubuntu1 [7,536 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 xvfb amd64 2:1.19.6-1ubuntu4.11 [785 kB]
Fetched 3,716 kB in 2s (1,608 kB/s)
Selecting previously unselected package libdbus-glib-1-2:amd64.
(Reading database ... 123991 files and directories currently installed.)
Preparing to unpack .../00-libdbus-glib-1-2_0.110-2_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.110-2) ...
Selecting previously unselected package gconf2-common.
Preparing to unpack .../01-gconf2-common_3.2.6-4ubuntu1_all.deb ...
Unpacking gconf2-common (3.2.6-4ubuntu1) ...
Selecting previously unselected package libgconf-2-4:amd64.
Preparing to unpack .../02-libgconf-2-4_3.2.6-4ubuntu1_amd64.deb ...
Unpacking libgconf-2-4:amd64 (3.2.6-4ubuntu1) ...
Selecting previously unselected package gconf-service-backend.
Preparing to unpack .../03-gconf-service-backend_3.2.6-4ubuntu1_amd64.deb ...
Unpacking gconf-service-backend (3.2.6-4ubuntu1) ...
Selecting previously unselected package gconf-service.
Preparing to unpack .../04-gconf-service_3.2.6-4ubuntu1_amd64.deb ...
Unpacking gconf-service (3.2.6-4ubuntu1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../05-libgtk2.0-common_2.24.32-1ubuntu1_all.deb ...
Unpacking libgtk2.0-common (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../06-libgtk2.0-0_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../07-libgail18_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../08-libgail-common_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../09-libgtk2.0-bin_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-1ubuntu1) ...
Selecting previously unselected package xvfb.
Preparing to unpack .../10-xvfb_2%3a1.19.6-1ubuntu4.11_amd64.deb ...
Unpacking xvfb (2:1.19.6-1ubuntu4.11) ...
Setting up gconf2-common (3.2.6-4ubuntu1) ...

Creating config file /etc/gconf/2/path with new version
Setting up libgtk2.0-common (2.24.32-1ubuntu1) ...
Setting up libdbus-glib-1-2:amd64 (0.110-2) ...
Setting up xvfb (2:1.19.6-1ubuntu4.11) ...
Setting up libgconf-2-4:amd64 (3.2.6-4ubuntu1) ...
Setting up libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail18:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail-common:amd64 (2.24.32-1ubuntu1) ...
Setting up libgtk2.0-bin (2.24.32-1ubuntu1) ...
Setting up gconf-service-backend (3.2.6-4ubuntu1) ...
Setting up gconf-service (3.2.6-4ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

# Import Data

In [ ]:
# Import the Queried Decentralization Index for AAVE
Aave_ent = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/portfolio/main/data/Queried_Data/Aave_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Aave_ent.head()

          val       date
0    2.509188 2020-10-02
1  190.326283 2020-10-03
2   43.323227 2020-10-04
3    7.090763 2020-10-05
4   16.404632 2020-10-06

In [ ]:
# Import the Queried Decentralization Index for COMP
Comp_ent = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/portfolio/main/data/Queried_Data/Comp_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Comp_ent.head()

         val       date
0   1.000000 2020-06-14
1  16.063681 2020-06-15
2  46.431202 2020-06-16
3   1.758514 2020-06-17
4   1.281994 2020-06-18

In [ ]:
Lusd_ent = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/portfolio/main/data/Queried_Data/Lusd_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Aave_ent.head()

          val       date
0    2.509188 2020-10-02
1  190.326283 2020-10-03
2   43.323227 2020-10-04
3    7.090763 2020-10-05
4   16.404632 2020-10-06

# Process Data

In [ ]:
# Define the functions for Processing Data
def ent(token):
  ent_exp = pd.DataFrame()
  ent_exp['val'] = token['val']
  ent_exp['date'] = token['date']
  ent_exp['n'] = range(1,ent_exp.shape[0]+1)
  ent_exp['SMA30'] =  ent_exp.val.rolling(30, min_periods=1).mean()
  ent_exp['SMA60'] =  ent_exp.val.rolling(60, min_periods=1).mean()
  ent_exp['SMA90'] =  ent_exp.val.rolling(90, min_periods=1).mean()
  ent_exp['SMA180'] =  ent_exp.val.rolling(180, min_periods=1).mean()
  ent_exp['EMA'] = ent_exp['val'].ewm(alpha=0.1, adjust=False).mean()
  ent_exp['EMA0.3'] = ent_exp['val'].ewm(alpha=0.3, adjust=False).mean()
  return ent_exp

In [ ]:
# Process the Data using the defined functions for Aave
Aave_ent = ent(Aave_ent)
Aave_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,2.509188,2020-10-02,1,2.509188,2.509188,2.509188,2.509188,2.509188,2.509188
1,190.326283,2020-10-03,2,96.417735,96.417735,96.417735,96.417735,21.290898,58.854316
2,43.323227,2020-10-04,3,78.719566,78.719566,78.719566,78.719566,23.494130,54.194990
3,7.090763,2020-10-05,4,60.812365,60.812365,60.812365,60.812365,21.853794,40.063721
4,16.404632,2020-10-06,5,51.930819,51.930819,51.930819,51.930819,21.308878,32.965995

In [ ]:
Comp_ent = ent(Comp_ent)
Comp_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,1.000000,2020-06-14,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,16.063681,2020-06-15,2,8.531841,8.531841,8.531841,8.531841,2.506368,5.519104
2,46.431202,2020-06-16,3,21.164961,21.164961,21.164961,21.164961,6.898852,17.792734
3,1.758514,2020-06-17,4,16.313350,16.313350,16.313350,16.313350,6.384818,12.982468
4,1.281994,2020-06-18,5,13.307079,13.307079,13.307079,13.307079,5.874536,9.472326

In [ ]:
Lusd_ent = ent(Lusd_ent)
Lusd_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,459.262399,2021-04-05,1,459.262399,459.262399,459.262399,459.262399,459.262399,459.262399
1,163.125111,2021-04-06,2,311.193755,311.193755,311.193755,311.193755,429.648670,370.421213
2,155.022310,2021-04-07,3,259.136607,259.136607,259.136607,259.136607,402.186034,305.801542
3,104.400726,2021-04-08,4,220.452636,220.452636,220.452636,220.452636,372.407503,245.381297
4,98.481937,2021-04-09,5,196.058496,196.058496,196.058496,196.058496,345.014947,201.311489

In [ ]:
# Comp and Lusd for your homework

# Export Data

In [ ]:
Aave_ent.to_csv("Aave_Processed.csv")

In [ ]:
Comp_ent.to_csv("Comp_Processed.csv")

In [ ]:
Lusd_ent.to_csv("Lusd_Processed.csv")

In [ ]:
# Comp and Lusd for your homework